<div
 [ngStyle]="addIconStyle()"
 [@poyooon]="effect.poyooon"
 (@poyooon.start)="start($event)"
 (@poyooon.done)="done($event)"
 [@fadeOut]="effect.fadeOut"
 (@fadeOut.start)="start($event)"
 (@fadeOut.done)="done($event)"
 [@grow]="effect.grow"
 (@grow.start)="start($event)"
 (@grow.done)="done($event)"
 [@avoid]="effect.avoid"
 (@avoid.start)="start($event)"
 (@avoid.done)="done($event)"
 [@blow]="effect.blow"
 (@blow.start)="start($event)"
 (@blow.done)="done($event)"
 [@yurayura]="effect.yurayura"
 (@yurayura.start)="start($event)"
 (@yurayura.done)="done($event)"
 [@faint]="effect.faint"
 (@faint.start)="start($event)"
 (@faint.done)="done($event)"
 [@bounceOutUp]="effect.bounceOutUp"
 (@bounceOutUp.start)="start($event)"
 (@bounceOutUp.done)="done($event)"
 [@rubberBand]="effect.rubberBand"
 (@rubberBand.start)="start($event)"
 (@rubberBand.done)="done($event)"
 [@flip]="effect.flip"
 (@flip.start)="start($event)"
 (@flip.done)="done($event)"
 class="enemy chara">
    {{ charaData.name }}
    <div *ngIf="isTargetting" (click)="lockOn()" class="target"></div>
    <div>HP:{{ charaData.hitPoint }}</div>
</div>